# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
cover/

# Allure reports
*allure_results
*allure-results
*allure-report

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Other
*.DS_Store
*.spec
*.manifest